@font-face {
    font-family: 'AdobeTextPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('AdobeTextPro-Regular'), url('font/AdobeTextPro-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'AdobeTextPro-It';
    font-style: normal;
    font-weight: normal;
    src: local('AdobeTextPro-It'), url('font/AdobeTextPro-It.woff') format('woff');
    }
    

    @font-face {
    font-family: 'AdobeTextPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('AdobeTextPro-Bold'), url('font/AdobeTextPro-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'AdobeTextPro-BoldIt';
    font-style: normal;
    font-weight: normal;
    src: local('AdobeTextPro-BoldIt'), url('font/AdobeTextPro-BoldIt.woff') format('woff');
    }
    

    @font-face {
    font-family: 'AdobeTextPro-Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('AdobeTextPro-Semibold'), url('font/AdobeTextPro-Semibold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'AdobeTextPro-SemiboldIt';
    font-style: normal;
    font-weight: normal;
    src: local('AdobeTextPro-SemiboldIt'), url('font/AdobeTextPro-SemiboldIt.woff');
    }
    h1{
        font-family: AdobeTextPro-Regular;
    }